<footer>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <span class="copyright">Copyright &copy; Shark Philippines 2014 - by <a href="https://www.twitter.com/ryandennywong">Ryan Wong</a></span>
        </div>
        <div class="col-md-4">
            <ul class="list-inline quicklinks">
                <li><a href="#">Privacy Policy</a>
                </li>
                <li><a href="#">Terms of Use</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</footer>
