{% extends "base.html" %}
{% load static %}
{% load staticfiles %}


{% block body %}
    <!-- Header -->
    <header>
        <section id="header" style="background-image: url({{ MEDIA_URL }}{{ series.banner }});">
            <div class="container">
                <div class="intro-text intro-series">
                    <div class="intro-heading">{{ series.name }}</div>
                </div>
            </div>
        </section>
    </header>

    {% for accessory in accessory_list %}
        {% if forloop.counter|divisibleby:2 %}
            <div class="content-section-a">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">{{ accessory.name }}
                            <p class="lead">{{ accessory.description }}</p>
                        </div>
                        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                            <img class="img-responsive" src="{{ MEDIA_URL }}{{ accessory.image }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="content-section-b">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">{{ accessory.name }}
                            <p class="lead">{{ accessory.description }}</p>
                        </div>
                        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                            <img class="img-responsive" src="{{ MEDIA_URL }}{{ accessory.image }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}
